<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:yannelly.sanchez389@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ysanchez">github.com/ysanchez</a></li>
				</ul>
			</footer>
		</body>
	</html>

  <body id="js-body">
    {% include browser-upgrade.html %}
    {% include header.html %}
    {% include navigation-sliding.html %}

    <div id="page-wrapper">
      {{ content }}
      {% include footer.html %}
    </div>

    <script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="{{ site.url }}/js/main.js"></script>

  </body>

</html>
